.container {
    font-family: 'Arimo', Courier, sans-serif;
    font-size: 16px;
    min-width: 100vw;
    min-height: 100vh;
}

.table {
    table-layout: auto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.table td, 
.table th {
    border: 1px solid grey;
    height: 70px;
    vertical-align: middle;
}

.first-column {
    width: 310px;
}

.other-column {
    width: 277px;
}


